<div x-intersect="$el.classList.add('scaleUp')"  >
  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 60"><path d="M98.88,60.41q16.43,0,26-14.59t9.57-40H105.26a16.34,16.34,0,0,1-3.8,8.28q-2.85,3.12-8.28,3.12a25.85,25.85,0,0,1-10.59-2.58q-5.7-2.58-12.35-5.9A97.35,97.35,0,0,0,55.5,2.92,59.54,59.54,0,0,0,37.79.41Q20.41.41,10.43,15.07T.45,54.84H29.64a14.53,14.53,0,0,1,4.28-8.14,12.47,12.47,0,0,1,8.89-3.12A24.9,24.9,0,0,1,53,46.09q5.57,2.5,12.49,5.9A101.32,101.32,0,0,0,80.76,57.9,62.74,62.74,0,0,0,98.88,60.41Z" transform="translate(-0.45 -0.41)"/></svg>
</div>
