<li><a href="#about" @click="activeMenuItem = 'about'" :class="activeMenuItem == 'about' ? 'underline' : ''">About</a></li>
<li><a href="#service" @click="activeMenuItem = 'service'" :class="activeMenuItem == 'service' ? 'underline' : ''">Service</a></li>
<li><a href="#projects" @click="activeMenuItem = 'projects'" :class="activeMenuItem == 'projects' ? 'underline' : ''">Projects</a></li>
